<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>HEANDSHE</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/heart.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Reenie+Beanie" rel="stylesheet">
      <!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/heandsheclient.js"></script>
    <script src="/assets/js/yelp.js"></script>
  </head>

<body>
		{{{ body }}}

</body>
</html>