<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></li>
        {{!-- <li><a href="/">Login</a></li> --}}
    </ul>
</nav>
<div id="imageSlides"></div>

<!-- Paragraph for descripton of project-->
<div id="aboutText"></div>
<!-- Sign  Button-->

<div id="loginBtnDiv">
    <button id="loginGoogle" type="button" class="btn btn-primary"><a href="/auth/google">Login with Google</a></button>

</div>