
<p><h1>He & She</h1></p>

<img src="assets/images/loginpic.jpg">

<!-- Paragraph for descripton of project-->
<div id="aboutText">

<p><b>Search for your perfect date! If you have struggled to find the perfect date with your significant other, you have come to the right place! We have created a way to provide you ideal dates based on the type of experience you want to connect with your partner, the desired location, and the time you are available.</b></p>

</div>
<!-- Sign  Button-->

<div id="loginBtnDiv">
    <button id="loginGoogle" type="button" class="btn btn-primary"><a href="/auth/google">Login with Google</a></button>

</div>

