<div id="imageSlides"></div>

<!-- Paragraph for descripton of project-->
<div id="aboutText"></div>
<!-- Sign  Button-->

<div id="loginBtnDiv">
    <button id="loginGoogle" type="button" class="btn btn-primary">Login with Google</button>

</div>