<div class="header">
  <h4>HE AND SHE</h4>
  <h3>Discover the perfect date experience</h3>
</div>


<form id="userinputform">
  <div class="container-fluid" id="filloutForm">
    <div class="row">

      <div class="col-xs-8 col-sm-8 col-md-6">

        <div class="form-group">
          <label for="exampleFormControlInput1">Preferred location for your special date</label>
          <input type="email" class="form-control" id="cityandstate" placeholder="City, State">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">How far are you willing to travel?</label>
          <input type="email" class="form-control" id="distance" placeholder="Enter number of miles">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">What is the duration of your date?</label>
          <input type="email" class="form-control" id="duration" placeholder="Enter number of hours">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">What is the day of your date?</label>
          <input type="email" class="form-control" id="dateinput" placeholder="MM/DD/YY">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">What is the time of your date?</label>
          <input type="email" class="form-control" id="timeinput" placeholder="Example: 06:00pm">
        </div>
        <!-- single select dropdown -->
        <!--   <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> -->
        <div class="form-group">
          <label for="exampleFormControlSelect2">Choose the type of experience you want. Select one or more.</label>
          <select multiple class="form-control" id="experienceTypes">
            <option>Romantic</option>
            <option>Outdoors</option>
            <option>Nature</option>
            <option>Adventurous</option>
            <option>Indoor</option>
            <option>Relaxing</option>
          </select>
        </div>
        <br>
        <br>
        <div class="container">
          <button id="submitBtn" type="button" class="btn btn-warning">Submit</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!-- text area for additional comments -->
        <!--   <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->
      </div>
    </div>
  </div>


</form>